@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    gap: 20px;
}
